@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #f0f0f0;
  --color-accent: #756AA9;
  --color-accent-hover: #655a99;
  --color-surface: #141414;
  --color-surface-hover: #1e1e1e;
  --color-border: #262626;
  --color-muted: #a1a1aa;
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

html {
  scroll-behavior: smooth;
}
